/*4*/
h1 {
    font-size: 30px;
    text-transform: uppercase;
    }

/*5*/
    p::first-letter {
        text-transform: uppercase;
    }

/*6*/
    a:hover {
       text-decoration: none;
    }

/*7*/
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

/*ct 3 4 e 5*/
#primary-list {
    list-style: none;
    text-align: center;
}

/*ct 4*/
img {
    display: block;
    margin: auto;
    max-width: 150%;
}